<ion-header>
  <ion-toolbar class="ion-header-background-color">
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ nome_produto }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="main">
    <div>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let imagem of produto.imagens">
          <img [src]="imagem.nome"/>
        </ion-slide>
      </ion-slides>
    </div>

    <div>
      {{ this.produto.descricao }}
    </div>

    <div>
      Preço R$ {{ this.produto.preco.toFixed(2).toString().replace(".",",") }}
    </div>

    <hr />

    <div>
      Valor da Oferta
    </div>

    <div>
      <input [(ngModel)]="valor_oferta" type="text"/>
    </div>

    <br/>
    
    <div>
      <ion-button color="success" (click)="mandarOferta()">Mandar Oferta</ion-button>
    </div>
  </div>

</ion-content>
