ion-content {
    --background: #fff url('../../../assets/img/fundo.jpg') no-repeat center center / cover !important;
    --filter: blur(1px);
}
#main{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 90%;
    margin-left: 5%;
    border-radius:10px;
    background-color: #fff;
}

input{
    width:95%;
    margin-left: 2.5%;
}
.ion-header-background-color {
  --background: rgb(199, 228, 74);
}
ion-button{
    width:95%;
    font-size: 14pt;
    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 2.5%;
}
div
{
    padding-left:5px;
    padding-right:5px;
}